@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
body {
  /* line-height: 1; */
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  letter-spacing: 0.2px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.article-main span {
  font-family: "Prompt", "Roboto Condensed", sans-serif !important;
}

/******************* Logo ******************/

.imgLogoMedical {

    width: 100px;
    height: auto;
    position: relative;
  }
  header .tBoxDescription {
    display: flex;
    justify-content: flex-end;
    background: #f26f25;
  }
  header .tBoxDescription .t-txt-right {
    position: absolute;
    font-size: 14px;
    color: #b6b6b6;
    font-weight: 300;
    top: 90px;
    text-decoration: none;
  }

/******************* Img benner ******************/
.sbenner-img .container .sbenner img {
  width: 100%;
  height: auto;
}
.sbenner-img .container .sbennerVDO img {
  width: 10px !important;
}

/******************* Our Services ****************/
.sOurServices{
  margin-bottom: 2rem;
}
.sOurServices h1 {
  color: #115d5e;
  font-weight: 600;
  font-size: 42px;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  padding-top: 0.7rem;
}
.sOurServices .digital-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  box-sizing: border-box;
}
.sOurServices .digital-grid .Digital-item {
  background: #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  box-sizing: border-box;
}
.sOurServices .digital-grid .Digital-item:hover,
.sectionOurServices .digital-grid .Digital-item.active {
  background: #115d5e;
}
.sOurServices .digital-grid .Digital-item img {
  width: 50px;
  height: 55px;
  margin-bottom: 0.5rem;
  padding: 5px;
}
.sOurServices .digital-grid .Digital-item h6 {
  font-size: 16px;
  color: #9a9898;
  font-weight: 600;
  transition: 0.2s;
  height: 20px;
  height: auto;
  word-wrap:break-word;
margin-bottom: 0;
}
.sOurServices .digital-grid .Digital-item:hover h6,
.sectionOurServices .digital-grid .Digital-item.active h6 {
  color: #ffffff;
}

.modal-dialog .ModalDetallsImg {
  padding: 30px;
  width: 100%;
}
.modal-dialog .ModalDetallsImg ul li {
  list-style: inside;
}
/******************* Page ****************/
.ShowDetallsItems {
  box-sizing: border-box;
  /* padding: 1.5rem; */
}

/***** CDP Project */
.listBoxSlideDetalls .cboxProject-header .ctxtHeader-CPD {
  font-size: 30px;
  font-weight: 600;
  color: #115d5e;
  text-align: center;
  margin-bottom: 1rem;
}
.listBoxSlideDetalls .cbox-ImgnewsTop {
  /* content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 8px solid #f26f25; */
  margin-bottom: 1.5rem;
}
.listBoxSlideDetalls .cbox-ImgnewsTop img{
  width: 100%;
}
.listBoxSlideDetalls .cbox-ImgnewsTop .imgNews-Top {
  width: 100% !important;
}
.listBoxSlideDetalls .cbox-ImgnewsTop .imgNews-Top img {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100% !important;
}
.-vlistOnly{
  margin-top: .5rem;
}
.-vlistOnly li{
  font-size: 18px !important;
}
.cbox-gray .txt-listdetails{
  margin-left: 0 !important;
}


.cbox-TextHeader {
  display: flex;
  flex-direction: row;
}
.listBoxSlideDetalls .cbox-TxtnewsTop .txtNews-Top {
  font-size: 26px;
  font-weight: 600;
  color: #115d5e;
  margin-bottom: 0;
}
.mBox-textdetails {
  color: #797979;
  font-size: 16px;
  font-weight: 400;
}
.-importantHeader {
  content: "";
  top: 30px;
  width: 30%;
  margin-left: -1.5rem !important;
  border-bottom: 3px solid #f26f25;
}
.cbox-gray {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 15px;
}
.cboxText {
  display: flex;
  flex-direction: row;
}
.cbg-number {
  border-radius: 50%;
  background-color: #424242;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  align-self: center;
  margin-right: 0.5rem;
  padding-top: 2px;
}
.ctxt-number {
  font-size: 18px !important;
  color: #ffffff;
}
.ctxt-header {
  margin-bottom: 0;
  font-size: 15px;
  color: #272727;
}
.cbox-gray .txt-listdetails {
  margin-left: 2rem;
}
.cbox-gray .txt-listdetails li {
  font-size: 14px;
  font-weight: 400;
}
.cbox-building .ctxt-ForInformation {
  font-size: 18px;
  font-weight: 400;
  color: #424242;
  margin-top: 0.5rem;
}
.ctxt-campaign {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #115d5e;
  background-color: #115d5e;
  border-radius: 50px;
  padding: 2px 30px;
}
ul .ctxt-headerGreen {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #115d5e !important;
}
ul .ctxt-headerGreen span{
  color: #9a9898;
  font-weight: 400 !important;
}
.txt-listgray li {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #9a9898;
  margin-left: 3rem;
}
.sbox-TxtNewsTop {
  text-align: left;
}
.txt-Communicationdetails {
  font-size: 20px;
  font-weight: 500;
  color: #115d5e;
}
.li-Communication {
  list-style: inside;
  font-size: 16px;
  color: #f26f25;
}
.mBox-textdetails p{
  font-size: 20px;

}
.vtxt-Headergreen {
  font-size: 24px;
  font-weight: 500;
  color: #115d5e;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.vtxt-header2 {
  font-size: 20px;
  font-weight: 500;
  color: #555555;
}
.vtxt-Headerlist {
  font-size: 18px ;
  font-weight: 400;
  color: #555555 ;
  margin-left: 3rem;
}
.vtxt-Headerlist span a{
  font-size: 18px ;
  font-weight: 400;
  color: #555555 ;
  text-decoration: none;
}
.vtxt-listDetails {
  margin-bottom: 0;
}
.vtxt-listDetails li {
  font-size: 18px ;
  font-weight: 400 ;
  color: #797979 ;
  margin-left: 5rem ;
  margin-bottom: 0;
}
.vtxt-listDetails li span a{
  font-size: 18px ;
  font-weight: 400 ;
  color: #797979 ;
  text-decoration: none;
  margin-bottom: 0;
}
.stxt-listDetails-Only{
  font-size: 18px ;
  font-weight: 400 ;
  color: #797979 ;
  margin-left: 5rem ;
  margin-bottom: 0;
}
.stxt-listDetails li{
  font-size: 18px;
  font-weight: 400 ;
  color: #797979 ;
  margin-left: 2rem ;
  margin-bottom: 0;
}


/* communication wiht HCPs */
.TestServer2 .li-Communication .noInside {
  list-style: none;
  padding-left: 1.5rem;
  color: #9a9898;
}
.TestServer2 .txt-detailsdark-bold {
  color: #115d5e;
  font-size: 26px;
  font-weight: 500;
}
.TestServer2 hr {
  border: 1px solid #f26f25;
}
.TestServer2 .vtxt-listHCPs{
  margin: 0 0 0 3rem;
  font-size: 18px;
}
.TestServer2 .vtxt-listIndent{
  margin: 0 0 0 6rem;
  font-size: 18px;
}
.TestServer2 .vtxt-listIndent span a{
  text-decoration: none;
  color: #838383;
}


/* Digital Solutions  */
.TestServer3 .li-Communication .noInside {
  list-style: none;
  padding-left: 1.5rem;
  color: #9a9898;
}
.TestServer3 .txt-detailsdark-bold {
  color: #115d5e;
  font-size: 26px;
  font-weight: 500;
}
.TestServer3 hr {
  border: 1px solid #f26f25;
}

/* VDO */
.TestServer4 .cbox-ImgnewsTop .vtxt-VDOTop {
  font-size: 24px;
  font-weight: 400;
  color: #115d5e;
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
}


/* content creation */
.TestServer5 .cboxContent-header .ctxtHeader-CONTENT {
  font-size: 30px;
    font-weight: 600;
    color: #115d5e;
    text-align: center;
    margin-bottom: 1rem;
}
.TestServer5 .cbox-Imgsbottom{
margin-bottom: 2rem;
}


/* creative design */
.TestServer6 .cboxContent-header .ctxtHeader-CONTENT {
  font-size: 30px;
    font-weight: 600;
    color: #115d5e;
    text-align: center;
    margin-bottom: 1rem;
}
.TestServer6 .cbox-Imgsbottom{
margin-bottom: 2rem;
}



.mBox-textdetails ul {
  /* padding-left: 0; */
}
.mBox-textdetails ul li {
  /* color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif; */
  list-style: inside;
  /* padding-left: 0; */
}
.vbox-ImgDetails{
  width: 100%;
  align-items: center;
display: flex;
justify-content: center;
margin-bottom: 1.5rem;
}
.txt-hgreen {
  color: #115d5e;
  font-size: 22px;
  font-weight: 400;
  width: 80%;
}


@media only screen and (max-width: 768px) {
  /* .sOurServices .digital-grid .Digital-item h6 {
    font-size: 12px !important;
  } */
.txt-Communicationdetails{
  font-size: 18px;
}
.txt-detailsgreen{
  color: #115d5e;
  font-size: 20px;
}
.mBox-textdetails p{
  font-size: 16px;
}
.vtxt-Headergreen{
font-size: 20px;
}
.vtxt-header2 {
font-size: 18px;
}
.vtxt-Headerlist {
  font-size: 16px;
  margin-left: 1rem;
}
.vtxt-listDetails li{
  margin-left: 4rem;
  font-size: 16px;
}
.TestServer4 .cbox-ImgnewsTop .vtxt-VDOTop{
  font-size: 20px;
}
.TestServer2 .vtxt-listHCPs{
  margin: 0;
}
.TestServer2 .vtxt-listIndent{
  margin: 0 0 0 3rem;
}
.txt-hgreen{
  font-size: 18px;
}
.-vlistOnly li{
  font-size: 16px !important;
}
.listBoxSlideDetalls .cbox-TxtnewsTop{
  margin-bottom: 1rem;
}
.listBoxSlideDetalls .cbox-TxtnewsTop .txtNews-Top {
  font-size: 24px;
  text-align: center;
}
.stxt-listDetails-Only{
  font-size: 16px ;
  margin-left: 2rem ;
}
.stxt-listDetails li{
  font-size: 16px ;
  margin-left: 0 ;
}
.cbg-number{
  width: 20px;
  height: 20px;
  padding-top: 0;
}
.ctxt-number{
  font-size: 14px !important;
}



@media only screen and (max-width: 576px)
{
  .sOurServices .digital-grid .Digital-item h6 {
    font-size: 12px !important;
  }
  .TestServer2 .vtxt-listHCPs{
    margin: 0 0 0 0rem;
  }
  .TestServer2 .vtxt-listIndent{
    margin: 0 0 0 3rem;
  }
  .listBoxSlideDetalls .cbox-TxtnewsTop .txtNews-Top {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .vtxt-listDetails li{
    margin-left: 1rem;
  }
  .ctxt-campaign{
    font-size: 20px;
  }
  .cbox-building .ctxt-ForInformation{
font-size: 14px;
  }
  ul .ctxt-headerGreen{
font-size: 18px !important;
  }
  .txt-listgray li{
    font-size: 16px !important;
  }
  .cbg-number{
    width: 20px;
    height: 20px;
    padding-top: 0;
  }
  .ctxt-number{
    font-size: 14px !important;
  }
  .TestServer2 .vtxt-listHCPs{
    margin: 0 0 0 0rem;
    font-size: 16px;
  }
  .TestServer2 .vtxt-listIndent{
    margin: 0 0 0 1rem;
    font-size: 16px;
  }
  .vtxt-Headerlist{
    margin-left: 0;
  }
  .stxt-listDetails-Only{
    font-size: 16px ;
    margin-left: 2rem ;
  }
  .stxt-listDetails li{
    font-size: 16px ;
    margin-left: 0 ;
  }
  .txt-detailsdark-bold {
    font-size: 22px !important;
  }
}














 
