@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
body {
  /* line-height: 1; */
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  letter-spacing: 0.2px;
}
ol,
ul {
  /* list-style: none; */
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.article-main span {
  font-family: "Prompt", "Roboto Condensed", sans-serif !important;
}

/******************* Logo ******************/

.imgLogoMedical {
    width: 80px;
    height: 80px;
    position: relative;
  }
  header .tBoxDescription {
    display: flex;
    justify-content: flex-end;
    background: #f26f25;
  }
  header .tBoxDescription .t-txt-right {
    position: absolute;
    font-size: 14px;
    color: #b6b6b6;
    font-weight: 300;
    top: 90px;
    text-decoration: none;
  }


/******************* Img benner ******************/
.sbenner-img .container .sbenner img {
  width: 100%;
  height: auto;
}
.sbenner-img .container .sbennerVDO img{
width: 10px !important;
}


/******************* Our Services ****************/
.sOurServices h1 {
  color: #115d5e;
  font-weight: 600;
  font-size: 42px;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  padding-top: 0.7rem;
}
.sOurServices .digital-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  box-sizing: border-box;
}
.sOurServices .digital-grid .Digital-item {
  background: #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  box-sizing: border-box;
}
.sOurServices .digital-grid .Digital-item:hover,
.sectionOurServices .digital-grid .Digital-item.active {
  background: #115d5e;
}
.sOurServices .digital-grid .Digital-item i {
    font-size: 3rem;
    color: #797979;
  }
.sOurServices .digital-grid .Digital-item img {
  width: 50px;
  height: 55px;
  margin-bottom: 0.5rem;
  padding: 5px;
}
.sOurServices .digital-grid .Digital-item h6 {
  font-size: 13px;
  color: #9a9898;
  font-weight: 700;
  transition: 0.2s;
  height: 20px;
}
.sOurServices .digital-grid .Digital-item:hover h6,
.sectionOurServices .digital-grid .Digital-item.active h6 {
  color: #ffffff;
}
.modal-dialog .ModalDetallsImg {
  padding: 30px;
  width: 100%;
}
.modal-dialog .ModalDetallsImg ul li {
  list-style: inside;
}
/******************* Page ****************/
.ShowDetallsItems {
  box-sizing: border-box;
  padding: 1.5rem;
}
/* CDO Project */
.ShowDetallsItems .TestServer1 .mBox-textdetails p {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  line-height: 36px;
}
.ShowDetallsItems .TestServer1 ul {
  padding-left: 0;
  list-style-position: outside;
}
.ShowDetallsItems .TestServer1 ul li {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  list-style: inside;
  padding-left: 5px;
}

.rowImg-cpd{
 margin: auto;   
}

/* communication wiht HCPs */
.ShowDetallsItems .TestServer2 .mBoxTextRight {
  padding-left: 2rem;
  margin-top: 3rem;
}
.ShowDetallsItems .TestServer2 .txt-Communication {
  color: #ffffff;
  background-color: #115d5e;
  font-weight: 400;
  font-size: 24px;
  padding: 5px 0;
  margin-bottom: 0;
}
.ShowDetallsItems .TestServer2 .txt-Communicationdetails {
  color: #115d5e;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 0;
  margin-bottom: 0;
}
.ShowDetallsItems .TestServer2 .li-Communication {
  color: #ffffff;
  border: 1px solid #115d5e;
  background-color: #115d5e;
  padding: 10px 20px;
  list-style: inside;
  font-size: 16px;
  font-weight: 200;
}
.ShowDetallsItems .TestServer2 .txt-detailsdark {
  color: #272727;
  font-size: 20px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
}
.ShowDetallsItems .TestServer2 .txt-detailsdark-bold {
  color: #272727;
  font-size: 18px;
  font-weight: 600;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
}
.ShowDetallsItems .TestServer2 .txt-detailsgray {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
}
.ShowDetallsItems .TestServer2 .mBox-textdetails p {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  line-height: 36px;
}

/* Digital Solutions  */
.ShowDetallsItems .TestServer3 .img-ModalDigital {
  margin-top: 3rem;
}
.ShowDetallsItems .TestServer3 .mBoxTextRight {
  padding-left: 2rem;
}
.ShowDetallsItems .TestServer3 .txt-digitalsolution {
  color: #ffffff;
  background-color: #115d5e;
  font-weight: 400;
  font-size: 24px;
  padding: 5px 0;
  margin-bottom: 0;
}
.ShowDetallsItems .TestServer3 .txt-digitalsolutiondetails {
  color: #115d5e;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 0;
  margin-bottom: 0;
}
.ShowDetallsItems .TestServer3 .li-digitalsolution {
  color: #ffffff;
  border: 1px solid #115d5e;
  background-color: #115d5e;
  padding: 10px 20px;
  list-style: inside;
  font-size: 16px;
  font-weight: 200;
}
.ShowDetallsItems .TestServer3 .mBox-textdetails p {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  line-height: 36px;
}


/* VDO */
.ShowDetallsItems .TestServer4 .txt-VDOProduction {
  color: #115d5e;
  font-weight: 500;
  font-size: 38px;
  margin-bottom: 0.5rem !important;
}
.ShowDetallsItems .TestServer4 .mBox-textdetails p {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  line-height: 36px;
}

/* content creation */
.ShowDetallsItems .TestServer5 .mBoxTextRight {
  padding-left: 2rem;
  margin-top: 3rem;
}
.ShowDetallsItems .TestServer5 .txt-contentcreation {
  color: #ffffff;
  background-color: #115d5e;
  padding: 5px 0;
  font-weight: 400;
  font-size: 24px;
}
.ShowDetallsItems .TestServer5 .txt-contentdetails {
  color: #115d5e;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 0;
  margin-bottom: 0;
}
.ShowDetallsItems .TestServer5 .li-contentcreation {
  color: #ffffff;
  border: 1px solid #115d5e;
  background-color: #115d5e;
  padding: 10px 20px;
  list-style: inside;
  font-size: 16px;
  font-weight: 200;
}
.ShowDetallsItems .TestServer5 .mBox-textdetails p {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  line-height: 36px;
}
.ShowDetallsItems .TestServer5 .mBox-textdetails ul {
  padding-left: 0;
  list-style-position: outside;
}

/* creative design */
.ShowDetallsItems .TestServer6 .mBoxTextRight {
  padding-left: 2rem;
  margin-top: 3rem;
}
.ShowDetallsItems .TestServer6 .txt-creativedesign {
  color: #ffffff;
  background-color: #115d5e;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  padding: 5px 0;
  margin-bottom: 0;
}
.ShowDetallsItems .TestServer6 .mBox-textdetails p {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  line-height: 36px;
}
.ShowDetallsItems .TestServer6 .txt-contentdetails {
  color: #115d5e;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 0;
  margin-bottom: 0;
}
.ShowDetallsItems .TestServer6 .li-contentcreation {
  color: #ffffff;
  border: 1px solid #115d5e;
  background-color: #115d5e;
  padding: 10px 20px;
  list-style: inside;
  font-size: 16px;
  font-weight: 200;
}

/*  .css ใช้ร่วมกัน */
.mBox-textdetails ul {
  padding-left: 0;
}
.mBox-textdetails ul li {
  color: #9a9898;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
  list-style: inside;
  padding-left: 0;
}
.txt-hgreen {
  color: #115d5e;
  font-size: 22px;
  font-weight: bold;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
}
.txt-detailsgreen {
  color: #115d5e;
  font-size: 20px;
  font-weight: 500;
  font-family: "Prompt", "Roboto Condensed", sans-serif;
}
.txt-listgray li{
    color: rgb(233, 233, 233) !important;
    margin-left: 50px;

}
.txt-listgray li span{
    color: #9a9898;
    font-size: 18px;
    font-weight: 400;
    font-family: "Prompt", "Roboto Condensed", sans-serif;
    list-style: disc;
    list-style: inside;
}
.Img-cbottom {
  margin: auto;
}

@media only screen and (max-width: 768px) {
  /* communication wiht HCPs */
  .ShowDetallsItems .TestServer2 .mBoxTextRight {
    padding-left: 0rem;
    margin-top: 3rem;
  }
  .ShowDetallsItems .TestServer2 .txt-Communication {
    font-size: 22px;
  }
  .ShowDetallsItems .TestServer2 .txt-Communicationdetails {
    font-size: 16px;
    padding: 15px 0;
  }
  .ShowDetallsItems .TestServer2 .txt-detailsdark {
    font-size: 18px;
  }
  .ShowDetallsItems .TestServer2 .txt-detailsdark-bold {
    font-size: 17px;
  }
  .ShowDetallsItems .TestServer2 .txt-detailsgray {
    font-size: 18px;
  }
  .ShowDetallsItems .TestServer2 .mBox-textdetails p {
    font-size: 17px;
    line-height: 30px;
  }
  /* Digital Solutions  */
  .ShowDetallsItems .TestServer3 .img-ModalDigital {
    margin-top: 0rem;
  }
  .ShowDetallsItems .TestServer3 .mBoxTextRight {
    padding-left: 0rem;
  }
  .ShowDetallsItems .TestServer3 .txt-digitalsolution {
    font-size: 22px;
  }
  .ShowDetallsItems .TestServer3 .txt-digitalsolutiondetails {
    font-size: 16px;
    padding: 15px 0;
  }
  .ShowDetallsItems .TestServer3 .mBox-textdetails p {
    font-size: 17px;
    line-height: 30px;
  }
  /* VDO */
  .ShowDetallsItems .TestServer4 .txt-VDOProduction {
    font-size: 30px;
  }
  .ShowDetallsItems .TestServer4 .mBox-textdetails p {
    font-size: 17px;
    line-height: 30px;
  }
  /* content creation */
  .ShowDetallsItems .TestServer5 .mBoxTextRight {
    padding-left: 0rem;
  }
  .ShowDetallsItems .TestServer5 .txt-contentcreation {
    font-size: 22px;
  }
  .ShowDetallsItems .TestServer5 .txt-contentdetails {
    font-size: 16px;
    padding: 15px 0;
  }
  .ShowDetallsItems .TestServer5 .mBox-textdetails p {
    font-size: 17px;
    line-height: 30px;
  }
  /* creative design */
  .ShowDetallsItems .TestServer6 .mBoxTextRight {
    padding-left: 0rem;
    margin-top: 3rem;
  }
  .ShowDetallsItems .TestServer6 .txt-creativedesign {
    font-size: 22px;
  }
  .ShowDetallsItems .TestServer6 .mBox-textdetails p {
    font-size: 17px;
    line-height: 30px;
  }
  .mBoxTextRight {
    margin-top: 1rem;
  }
  .txt-hgreen {
    font-size: 20px;
  }
  .txt-detailsgreen {
    font-size: 19px;
  }

  /* .mBox-textdetails ul li {
    font-size: 17px;
  } */
  /* .txt-detailsIndent {
    font-size: 17px;
  } */
}
