.card-TimeComment{
    display: flex;
}
.TimeandComment a{
    border: 1px solid #115d5e;
    margin: 0;
    padding: 0;
    padding: 1px 4px;
    font-size: 12px;
    background: #115d5e;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: .2s;
    margin-left: .5rem;
}
.TimeandComment a:hover{
    background: #f26e24;
    border: none;
}
.card-TimeComment p{
    padding: 0;
    font-size: 14px;
    color: #bdbdbd;
}